---
import { CategoryRoot } from 'astro-category';
import '@styles/global.css';
---

<div class="example-container">
  <div class="item">
    <h1>Default</h1>
    <CategoryRoot collection="posts" />
    <CategoryRoot
      collection="blogs"
      root="categoryblog"
    />
  </div>

  <div class="item">
    <h1>Custom</h1>
    <CategoryRoot
      collection="posts"
      linkClassName="post-link blue round-5"
    >
      <h2
        slot="title"
        class="blue"
      >
        Posts
      </h2>
      <h3
        slot="content-title"
        class="blue"
      >
        content
      </h3>
      <h3
        slot="category-title"
        class="blue"
      >
        category
      </h3>
    </CategoryRoot>
    <CategoryRoot
      collection="blogs"
      root="categoryblog"
      linkClassName="blog-link red round-20"
    >
      <h2
        slot="title"
        class="red"
      >
        Blogs
      </h2>
      <h3
        slot="content-title"
        class="red"
      >
        content
      </h3>
      <h3
        slot="category-title"
        class="red"
      >
        category
      </h3>
    </CategoryRoot>
  </div>
</div>
<style>
  .example-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-flow: row nowrap;
    justify-content: center;

    .item {
      width: 50%;
      height: 100%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 0 30px;
      &:nth-child(1) {
        border-right: 1px solid #ddd;
      }
    }
  }
</style>
